Flask==2.3.2
gunicorn==20.1.0; python_version > '3.0'
gunicorn==19.10.0; python_version < '3.0'
google-cloud-datastore==2.15.2
google-cloud-language==2.9.1
flask-restx==1.1.0
scikit-learn==1.2.2
werkzeug==2.3.4
